---
import Layout from '@layouts/Layout.astro';
import Dalle from '@components/Dalle.svelte';
---

<Layout title="Images with IA">
	<div class="mt-4">
        <Dalle client:load/>
    </div>
</Layout>
